* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
// var declatarions
$cell-size: 150px;
$board-size: 3;
$symbol-size: $cell-size * 0.8;

.board {
	width: 100vw;
	height: 90vh;
	display: grid;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;

	grid-template-columns: repeat($board-size, auto);
	grid-template-rows: repeat($board-size, auto);
}
.cell {
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $cell-size;
	height: $cell-size;
	cursor: pointer;
	border: 0.1px solid #000;
}
.message {
	font-size: 30px;
	width: 200px;
	text-align: center;
	margin: 1rem auto;
}
.end {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
