@use 'colors';

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin clickable {
	transition: background-color 0.3s ease;
	cursor: pointer;
	&:hover {
		background-color: var(--hoverColor);
	}
}
