@use 'colors';
@use 'mixins';

.switcherCont {
	@include mixins.flexCenter();
	background-color: #f4f4f4;

	width: 100px;
	border: 1px solid var(--borderColor);
	.theme {
		width: 30px;
		height: 20px;
		margin: 2px;
		cursor: pointer;
	}
	.themeLight {
		background-color: #fff;
		border: 1px solid #000;
	}
	.themeDark {
		background-color: #000;
	}
	.themeOcean {
		background-color: #006994;
	}
}
