@use 'colors';
@use 'mixins';

.TicTacToe {
	width: 100%;
	height: 100%;
	& > * {
		margin: 5px;
	}
	.ticBoard {
		background-color: var(--borderColor);
		.ticRow {
			width: 100%;
			.ticCell {
				color: var(--cellValueColor);
				background-color: white;
				height: 80px;
				width: 80px;
				text-align: center;
				font-size: 2rem;
				@include mixins.clickable();
			}
		}
	}
}
.message {
	font-size: 30px;
	width: 250px;
	text-align: center;
	margin: 1rem auto;
	letter-spacing: 0.1rem;
	color: var(--fontColor);
}
.end {
	@include mixins.flexCenter();
	color: white;
	font-size: 5rem;
	flex-direction: column;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.restart {
	cursor: pointer;
	font-size: 2rem;
}
