@use 'colors';
@use 'mixins';

.TicTacToe {
	width: 100%;
	height: 100%;
	& > * {
		margin: 5px;
	}
	.ticBoard {
		background-color: var(--borderColor);
		.ticRow {
			width: 100%;
			.ticCell {
				color: var(--cellValueColor);
				background-color: white;
				height: 80px;
				width: 80px;
				text-align: center;
				font-size: 2rem;
				@include mixins.clickable();
			}
		}
	}
}
.message {
	font-size: 30px;
	width: 250px;
	text-align: center;
	margin: 1rem auto;
	letter-spacing: 0.1rem;
	color: var(--fontColor);
}
.end {
	@include mixins.flexCenter();
	color: white;
	font-size: 5rem;
	flex-direction: column;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.restart {
	cursor: pointer;
	font-size: 2rem;
}
.localStCont {
	@include mixins.flexCenter();
	flex-direction: column;
	.lsSave {
		margin: 0.2rem;
		padding: 0.2rem;
		cursor: pointer;
		border: 1px solid var(--borderColor);
		&:hover {
			background-color: var(--hoverColor);
		}
	}
	.saveList {
		list-style: none;
		& > li {
			margin: 0.1rem 0;
			cursor: pointer;
			&:hover {
				background-color: var(--hoverColor);
			}
		}
	}
	.disabled {
		cursor: not-allowed;
		pointer-events: none;
		color: gray !important;
		&:hover {
			background-color: none;
		}
	}
}
.undo {
	padding: 4px;
	cursor: pointer;
	border: 1px solid var(--borderColor);
	&:hover {
		background-color: var(--hoverColor);
	}
}
