@use 'menu';
@use 'switcher';
@use 'game';
@use 'ticTacToe';
@use 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
body {
	height: 100vh;
	background-color: var(--bgColor);
	color: var(--fontColor);
	border-color: var(--borderColor);
}
#root {
	width: 100%;
	max-height: 100vh;
}
